.skills/
.skills
用户上传/
*.log
*.json
*.pptx
*.pptx.html
*.pdf
*.png
*.jpg
*.pyc
__pycache__/
outputs/
template_analysis/
temp_imgs/
imgs/
BOOTSTRAP*
MEMORY.md
USER.md
SECRET.md
SOUL.md
TOOLS.md
PPT*
述职*
